<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Index - hitbox</title>
    <link rel="icon" type="image/png" href="/hithub_logo.png">
    <meta charset="UTF-8">
</head>
<body>

    <!-- Include the header -->
    <div class="header">
        <a href="index.html" class="title">hitbox</a>
        <ul class="navigation">
            <li><a href="fights.html">Fights</a></li>
            <li><a href="players.html">fighters</a></li>
            <li><a href="bet.html">Bets</a></li>
        </ul>
    </div>

    <div class="bet">
        <h3>bet history</h3>
        <div id="his1"></div>
        <div id="his2"></div>
        <div id="his3"></div>
        <div id="his4"></div>
        <div id="his5"></div>
    </div>
    <p class="copyright">&copy; 2023 HitHub UI</p>
    <script src="home.js"></script>
</body>
</html>