{% extends '_base.html' %}
{% block title %}HitHub | Bets{% endblock title %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'bets/css/style.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'bets/js/script.js' %}"></script>
{% endblock %}

{% block content %}

<div class="bet">
  <h3>bet history</h3>
  <div id="his1"></div>
  <div id="his2"></div>
  <div id="his3"></div>
  <div id="his4"></div>
  <div id="his5"></div>
</div>

{% endblock content %}