<!DOCTYPE html>
<head>
    <title>credits</title>
</head>
<style>
body {
    background-color: black;
}
.thanks {
    text-align: center;
    font-family: monospace;
    color: white;

}
.list {
    margin-left: 38%;
    color: white;
    font-family: monospace;
}
</style>
<body>
<h1 class="thanks">credits to everyone who has helped in this project</h1>
<br>
<br>
<br>
<br>
<h3 class="list">Kidbilly   |   maker of the project<br>Lemur   |  the right hand of the project<br>Madmax  |   maker of the website</h3>
</body>