{% extends '_base.html' %}
{% block title %}HitHub | Fighters{% endblock title %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'fighters/css/style.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'fighters/js/script.js' %}"></script>
{% endblock %}

{% block content %}
  <p>Fighter Page</p>
  <h2>Cosmetics Related to Fighters</h2>
  <ul>
    {% for cosmetic in cosmetics %}
      <li>
        <p>Name: {{ cosmetic.name }}</p>
        <p>Brand: {{ cosmetic.brand }}</p>
        <p>Description: {{ cosmetic.description }}</p>
        <img src="{{ cosmetic.signed_url }}" alt="{{ cosmetic.name }} Image">
      </li>
    {% endfor %}
  </ul>
{% endblock content %}