{% extends '_base.html' %}
{% block title %}HitHub | Fighters{% endblock title %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'fighters/css/style.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'fighters/js/script.js' %}"></script>
{% endblock %}

{% block content %}
  <p>Fighter Page</p>
  <h2>Fighters</h2>
  {% for fighter in prepped_fighters %}
    <h3>{{ fighter.name }}</h3>
    <div class="fighter-container">
      <div class="fighter-square">
        {% for cosmetic in fighter.signed_cosmetics %}
          <img src="{{ cosmetic.signed_url }}" alt="{{ cosmetic.cosmetic.name }}" class="cosmetic-image">
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock content %}
