{% extends '_base.html' %}
{% block title %}HitHub | Fights{% endblock title %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'fights/css/style.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'fights/js/script.js' %}"></script>
  <!--
    <script src="{% static 'fights/js/new-feature.js' %}"></script>
  -->
{% endblock %}

{% block content %}
    <div class="fight-rank-viz">
      <p>Fight tree visual</p><span id="test-span">100</span>
    </div>

    <!-- Upcoming Fights table -->
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
      <div class="widget widget-table-two">

          <div class="widget-heading">
              <h5 class="">Fights</h5>
          </div>

          <div class="widget-content">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th><div class="th-content th-heading">Date of Fight</div></th>
                              <th><div class="th-content th-heading">Fighter A</div></th>
                              <th><div class="th-content th-heading">Fighter B</div></th>
                              <th><div class="th-content th-heading">Winner</div></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar"><span>Luke Ivory</span></div></td>
                              <td><div class="td-content product-brand text-primary">Headphone</div></td>
                              <td><div class="td-content product-invoice">#46894</div></td>
                              <td><div class="td-content"><span class="badge badge-success">Paid</span></div></td>
                          </tr>
                          
                          <tr>
                              <td><div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar"><span>Andy King</span></div></td>
                              <td><div class="td-content product-brand text-warning">Nike Sport</div></td>
                              <td><div class="td-content product-invoice">#76894</div></td>
                              <td><div class="td-content"><span class="badge badge-primary">Shipped</span></div></td>
                          </tr>
                          <tr>
                              <td><div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar"><span>Laurie Fox</span></div></td>
                              <td><div class="td-content product-brand text-danger">Sunglasses</div></td>
                              <td><div class="td-content product-invoice">#66894</div></td>
                              <td><div class="td-content"><span class="badge badge-success">Paid</span></div></td>
                          </tr>                                            
                          <tr>
                              <td><div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar"><span>Ryan Collins</span></div></td>
                              <td><div class="td-content product-brand text-warning">Sport</div></td>
                              <td><div class="td-content product-invoice">#89891</div></td>
                              <td><div class="td-content"><span class="badge badge-primary">Shipped</span></div></td>
                          </tr>
                          <tr>
                              <td><div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar"><span>Irene Collins</span></div></td>
                              <td><div class="td-content product-brand text-primary">Speakers</div></td>
                              <td><div class="td-content product-invoice">#75844</div></td>
                              <td><div class="td-content"><span class="badge badge-danger">Pending</span></div></td>
                          </tr>
                          <tr>
                              <td><div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar"><span>Sonia Shaw</span></div></td>
                              <td><div class="td-content product-brand text-danger">Watch</div></td>
                              <td><div class="td-content product-invoice">#76844</div></td>
                              <td><div class="td-content"><span class="badge badge-success">Paid</span></div></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>


{% endblock content %}